/* table style */
.table thead tr th {
    color: black;
    font-weight: bold;
}

.table tbody td {
    color: black;
    justify-content: center;
}

/* button styles */

.btn.btn-success.btn-fill.edit-user {
    margin-left: 20px;
}

.btn.btn-info.btn-fill.abilitare-user {
    margin-left: 20px;
}

.btn.btn-danger.btn-fill.delete-user {
    margin-left: 20px;
}
