/* Index style */

/* title */
.card-header .card-title{
    text-align: center;
    color: black;
    font-weight: bold;
    border-right: 50px;
}

/* table style */
.table thead tr th {
    color: black;
    font-weight: bold;
    margin: 2em;
}

.table tbody td {
    color: black;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /**** limit amount of text visible in a column ****/
    max-width: 200px;
    overflow: hidden;

}

.card .table tbody td:last-child, .card .table thead th:last-child {
    padding-right: 15px;
    display: none;
}

/******* magnifying glass icon styles *******/
.transparent-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/************* modals style ***************/
.readonly {
    background-color: #e9ecef;
    pointer-events: none;
}

.modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}

.modal-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-body {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.modal-body #ticketImage{
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
    font-weight: bold;
}

.modal-footer button {
    cursor: pointer;
}

/********** textarea styles ********/
textarea {
    border: ridge 2px;
    padding: 5px;
    width: 200em;
    min-height: 10em;
    overflow: auto;
    text-align: justify;
}


/****** Dropzone JS file upload *****/

.dropzone {
    width: 98%;
    margin: 1%;
    border: 2px dashed #3498db !important;
    border-radius: 5px;
    transition: .2s; 
}

/******* progress percentage bar  ********/
.dropzone .dz-preview .dz-progress {
    top: 115% !important;
    background: rgba(0,0,255,90%) !important;
  }

/****** Tagify (tags) *******/

#tags-outside {
    border: 0;
    width: 100%;
    max-width: 700px;
    height: 100px;
}

.tagify--outside {
    border: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}

/******** Responsive *********/
@media only screen and (max-width: 600px) {
    .table thead tr th {
        color: black;
        font-weight: bold;
    }

    .table tbody td {
        color: black;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  /**** limit amount of text visible in a column ****/
        max-width: 5px;
        overflow: hidden;
        margin-bottom: 200px;
    }

    #ticketsTable {
        margin-left: 500px;
        margin-right: 500px;

    }

}