/* Index style */

/* title */
.card-header .card-title{
    text-align: center;
    color: black;
    font-weight: bold;
}

/* table style */
.table thead tr th {
    color: black;
    font-weight: bold;
}

.table tbody td {
    color: black;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /**** limit amount of text visible in a column ****/
    max-width: 200px;
    overflow: hidden;

}

/******* magnifying glass icon styles *******/
.transparent-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/************* modals style ***************/
.readonly {
    background-color: #e9ecef;
    pointer-events: none;
}

.modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}

.modal-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-body {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.modal-body #ticketImage{
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
    font-weight: bold;
}

.modal-footer button {
    cursor: pointer;
}

/********** textarea styles ********/
textarea {
    border: ridge 2px;
    padding: 5px;
    width: 200em;
    min-height: 10em;
    overflow: auto;
    text-align: justify;
}