<div class="sidebar" data-color="blue" data-image="{{ config.ASSETS_ROOT }}/img/sidebar-4.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                Gestione Segnalazioni
            </a>
        </div>
        <ul class="nav">
            <!-- when the account is designated as a 'admin' -->
            {% if current_user.is_admin %}
            <li class="nav-item nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="/">
                    <i class="nc-icon nc-notes"></i>
                    <p>Tabella</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'user' in segment %} active {% endif %}">
                <a class="nav-link" href="/user.html">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Profilo Utente</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'user' in segment %} active {% endif %}">
                <a class="nav-link" href="/allUsers.html">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Tutti gli utenti</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('authentication_blueprint.logout') }}">
                    <i class="nc-icon nc-button-power"></i>
                    <p>Disconnetti</p>
                </a>
            </li>
        </ul>

            <!-- when the account is designated as a 'user' -->
            {% elif current_user.is_admin == 0 %}

            <li class="nav-item nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="/">
                    <i class="nc-icon nc-notes"></i>
                    <p>Tabella</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'user' in segment %} active {% endif %}">
                <a class="nav-link" href="/user.html">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Profilo Utente</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" target="_blank">
                    <i class="nc-icon nc-atom"></i>
                    <p>Solutions 30</p>
                </a>
            </li>

            {% else %}
            <!-- when the account is created with 'null' value by default -->
        
            <li class="nav-item active">
                <a class="nav-link active" target="_blank">
                    <i class="nc-icon nc-atom"></i>
                    <p>Solutions 30</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

