{% extends "layouts/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/indexStyle.css') }}">
{% endblock stylesheets %}

{% block title %} Tickets {% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Ticket Supervisor Data</h4>
                        {% if current_user.is_authenticated and current_user.is_admin %}
                        <button type="button" class="btn btn-info btn-fill pull-right" data-toggle="modal" data-target="#addTicketModal">Add ticket</button>
                        {% endif %}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        {% if current_user.is_admin %}
                        
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Utente Apertura</th>
                                    <th>Utente Segnalato</th>
                                    <th>ID Task</th>
                                    <th>Note</th>
                                    <th>Tag</th>
                                    <th>Data Apertura</th>
                                    <th>Data Chiusura</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                <tr>
                                    <td>{{ ticket.id }}</td>
                                    <td>{{ ticket.utente_apertura }}</td>
                                    <td>{{ ticket.utente_segnalato }}</td>
                                    <td>{{ ticket.id_task }}</td>
                                    <td>{{ ticket.note }} 
                                        <button class="btn btn-success btn-fill edit-note" data-id="{{ ticket.id }}" data-note="{{ ticket.note }}">Edit</button>
                                    </td>
                                    <td>{{ ticket.tag }}</td>
                                    <td>{{ ticket.formatted_data_apertura() }}</td>
                                    <td>{{ ticket.formatted_data_chiusura() }} 
                                        <button class="btn btn-success btn-fill edit-dataChiusura" data-id="{{ ticket.id }}">Edit</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% else %}

                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Utente Apertura</th>
                                    <th>Utente Segnalato</th>
                                    <th>ID Task</th>
                                    <th>Note</th>
                                    <th>Tag</th>
                                    <th>Data Apertura</th>
                                    <th>Data Chiusura</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                <tr>
                                    <td>{{ ticket.id }}</td>
                                    <td>{{ ticket.utente_apertura }}</td>
                                    <td>{{ ticket.utente_segnalato }}</td>
                                    <td>{{ ticket.id_task }}</td>
                                    <td>{{ ticket.note }}</td>
                                    <td>{{ ticket.tag }}</td>
                                    <td>{{ ticket.formatted_data_apertura() }}</td>
                                    <td>{{ ticket.formatted_data_chiusura() }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD ticket modal (only for admin) -->
<div class="modal fade" id="addTicketModal" tabindex="-1" role="dialog" aria-labelledby="addTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTicketModalLabel">Add ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('tickets_blueprint.tickets') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.utente_segnalato.label }} 
                        {{ form.utente_segnalato(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.id_task.label }}
                        {{ form.id_task(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.note.label }} 
                        {{ form.note(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.tag.label }} 
                        {{ form.tag(class_='form-control') }}
                    </div>
                    <button type="submit" class="btn btn-primary">Add ticket</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EDIT NOTE modal (only for admin) -->
<div class="modal fade" id="editNoteModal" tabindex="-1" role="dialog" aria-labelledby="editNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editNoteModalLabel">Edit Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editNoteForm" method="POST" action="{{ url_for('tickets_blueprint.edit_note') }}">
                <div class="modal-body">
                    <input type="hidden" name="id" id="editNoteTicketId">
                    <div class="form-group">
                        <label for="note">Note</label>
                        <input type="text" class="form-control" id="editNote" name="note" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- EDIT DATA CHIUSURA modal (only for admin) -->
<div class="modal fade" id="editDataChiusuraModal" tabindex="-1" role="dialog" aria-labelledby="editDataChiusuraModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDataChiusuraModalLabel">Edit Data Chiusura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editDataChiusuraForm" method="POST" action="{{ url_for('tickets_blueprint.edit_data_chiusura') }}">
                <div class="modal-body">
                    <input type="hidden" name="id" id="editDataChiusuraTicketId">
                    <div class="form-group">
                        <label for="dataChiusura">Data Chiusura</label>
                        <input type="checkbox" class="form-control" id="editDataChiusura" name="dataChiusura" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Edit note button
        const editNoteButton = document.querySelectorAll('.edit-note');
        editNoteButton.forEach(button => {
            button.addEventListener('click', function () {
                const ticketId = this.getAttribute('data-id');
                const note = this.getAttribute('data-note');

                document.getElementById('editNoteTicketId').value = ticketId;
                document.getElementById('editNote').value = note;

                $('#editNoteModal').modal('show');
            });
        });

        // Edit Data Chiusura Button
        const editDataChiusuraButton = document.querySelectorAll('.edit-dataChiusura');
        editDataChiusuraButton.forEach(button => {
            button.addEventListener('click', function () {
                const ticketId = this.getAttribute('data-id');

                document.getElementById('editDataChiusuraTicketId').value = ticketId;

                $('#editDataChiusuraModal').modal('show');
            });
        });
    });
</script>
{% endblock %}
