{% extends "layouts/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/indexStyle.css') }}">
{% endblock stylesheets %}

{% block title %} Tickets {% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Ticket Supervisor Data</h4>
                        {% if current_user.is_authenticated and current_user.is_admin %}
                        <button type="button" class="btn btn-info btn-fill pull-right" data-toggle="modal" data-target="#addTicketModal">Add ticket</button>
                        {% endif %}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Utente Apertura</th>
                                    <th>Utente Segnalato</th>
                                    <th>ID Task</th>
                                    <th>Note</th>
                                    <th>Tag</th>
                                    <th>Data Apertura</th>
                                    <th>Data Chiusura</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                <tr>
                                    <td>
                                        <!-- The magnifying glass icon is shown whenever if "data_chiusura" is "None" or has been closed -->
                                        {% if current_user.is_admin %}
                                        <button class="transparent-button edit-ticket" data-id="{{ ticket.id }}" data-note="{{ ticket.note }}" data-chiusura="{{ ticket.data_chiusura }}" data-image-url="{{ ticket.image }}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        {% else %}
                                        <button class="transparent-button view-ticket" data-note="{{ ticket.note }}" data-image-url="{{ ticket.image }}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        {% endif %}
                                        
                                    </td>
                                    <td>{{ ticket.id }}</td>
                                    <td>{{ ticket.utente_apertura }}</td>
                                    <td>{{ ticket.utente_segnalato }}</td>
                                    <td>{{ ticket.id_task }}</td>
                                    <td>{{ ticket.note }}</td>
                                    <td>{{ ticket.tag }}</td>
                                    <td>{{ ticket.formatted_data_apertura() }}</td>
                                    <td>{{ ticket.formatted_data_chiusura() }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD ticket modal (only for admin) -->
<div class="modal fade" id="addTicketModal" tabindex="-1" role="dialog" aria-labelledby="addTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTicketModalLabel">Add ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('tickets_blueprint.tickets') }}" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.utente_segnalato.label }} 
                        {{ form.utente_segnalato(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.id_task.label }}
                        {{ form.id_task(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.note.label }} 
                        {{ form.note(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.tag.label }} 
                        {{ form.tag(class_='form-control') }}
                    </div>
                    <!-- image filed to be able to upload a photo-->
                    <div class="form-group">
                        <label for="filee">Carica una foto</label>
                        <input type="file" class="form-control" id="file" name="file">
                    </div>
                    <button type="submit" class="btn btn-primary btn-fill">Add ticket</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EDIT TICKET modal (only for admin) -->
<div class="modal fade" id="editTicketModal" tabindex="-1" role="dialog" aria-labelledby="editTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTicketModalLabel">Edit Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editTicketForm" method="POST" action="{{ url_for('tickets_blueprint.edit_ticket') }}">
                {{ form.hidden_tag() }}
                <div class="modal-body">
                    <input type="hidden" name="id" id="editTicketId">
                    <div class="form-group">
                        <label for="note">Note</label>
                        <textarea class="form-control" id="editNote" name="note" rows="10" required></textarea>
                        
                        <label for="ticketImage">Uploaded image</label>
                        <br>
                        <img id="ticketImage" src="" alt="Ticket Image" style="width: 100%; max-width: 800px;">

                    </div> 
                  
                    <div id="ticketImageContainer">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-fill" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-fill" id="saveChangesButton">Save changes</button>
                    <button type="button" class="btn btn-danger btn-fill" id="closeTicketButton">Close Ticket</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- VIEW NOTE modal (only for non-admin and it is authenticated ) -->
<div class="modal fade" id="viewNoteModal" tabindex="-1" role="dialog" aria-labelledby="viewNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewNoteModalLabel">View Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="viewNote">Note</label>
                    <textarea class="form-control" id="viewNote" rows="5" readonly></textarea>

                    <label for="ticketImage">Uploaded image</label>
                    <br>
                    <img id="ticketsImage" src="" alt="Ticket Image" style="width: 100%; max-width: 800px;">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-fill" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRM CLOSE TICKET modal (only for admin) -->
<div class="modal fade" id="confirmCloseTicketModal" tabindex="-1" role="dialog" aria-labelledby="confirmCloseTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCloseTicketModalLabel">Confirm Close Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to close this ticket? You will not be able to modify it later.</p>
                <input type="hidden" id="confirmCloseTicketId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success btn-fill" id="confirmCloseTicketButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        // Edit ticket button
        const editTicketButton = document.querySelectorAll('.edit-ticket');
        editTicketButton.forEach(button => {
            button.addEventListener('click', function () {
                const ticketId = this.getAttribute('data-id');
                const note = this.getAttribute('data-note');
                const chiusura = this.getAttribute('data-chiusura') !== 'None';
                const imageUrl = this.getAttribute('data-image-url');
    
                document.getElementById('editTicketId').value = ticketId;
    
                const editNoteElement = document.getElementById('editNote');
                const saveChangesButton = document.getElementById('saveChangesButton');
                const closeTicketButton = document.getElementById('closeTicketButton');
    
                editNoteElement.value = note;

                const ticketImageContainer = document.getElementById('ticketImageContainer');
                const ticketImage = document.getElementById('ticketImage');

                if (imageUrl) {
                    ticketImage.src = imageUrl;
                    ticketImageContainer.style.display = 'block';
                } else {
                    ticketImageContainer.style.display = 'none';
                }
    
                if (chiusura) {
                    editNoteElement.disabled = true; // unenable textarea
                    editNoteElement.value = note; // show content in textarea
                    saveChangesButton.disabled = true;
                    closeTicketButton.disabled = true;
                } else {
                    editNoteElement.disabled = false; // enable textarea
                    editNoteElement.value = note; // show content in textarea
                    saveChangesButton.disabled = false;
                    closeTicketButton.disabled = false;
                }
    
                $('#editTicketModal').modal('show');
            });
        });
    
        // View ticket button for non-admin users
        const viewNoteButton = document.querySelectorAll('.view-ticket');
        viewNoteButton.forEach(button => {
            button.addEventListener('click', function () {
                const note = this.getAttribute('data-note');

                const viewNoteElement = document.getElementById('viewNote');
                viewNoteElement.value = note;

                const imageUrl = this.getAttribute('data-image-url');
    
                const ticketImageElement = document.getElementById('ticketsImage');
                if (imageUrl) {
                    ticketImageElement.src = imageUrl;
                    ticketImageElement.style.display = 'block';
                } else {
                    ticketImageElement.style.display = 'none';
                }
    
                $('#viewNoteModal').modal('show');
            });
        });

        // Close ticket button
        document.getElementById('closeTicketButton').addEventListener('click', function () {
            const ticketId = document.getElementById('editTicketId').value;
            document.getElementById('confirmCloseTicketId').value = ticketId;
            $('#editTicketModal').modal('hide');
            $('#confirmCloseTicketModal').modal('show');
        });

        // Confirm close ticket button
        document.getElementById('confirmCloseTicketButton').addEventListener('click', function () {
            const ticketId = document.getElementById('confirmCloseTicketId').value;
            fetch('{{ url_for("tickets_blueprint.close_ticket") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: ticketId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            });
        });
    });
</script>
{% endblock %}