{% extends "layouts/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/indexStyle.css') }}">

<!-- dropzone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
<!-- tagify -->
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<!-- datatables -->
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet">



{% endblock stylesheets %}

{% block title %} Tickets {% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        {% if current_user.is_authenticated and current_user.is_admin %}
                        <h4 class="card-title">Dettagli dei ticket dell'admin</h4>
                        <button type="button" class="btn btn-info btn-fill pull-right" data-toggle="modal" data-target="#addTicketModal">Aggiungi ticket</button>
                        {% else %}
                        <h4 class="card-title">Dettagli dei ticket dell'user</h4>
                        {% endif %}

                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table id="ticketsTable"class="table table-hover table-striped" style="float:left;margin-right:20px;" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Utente Apertura</th>
                                    <th>Utente Segnalato</th>
                                    <th>ID Task</th>
                                    <th>Note</th>
                                    <th>Tag</th>
                                    <th>Data Apertura</th>
                                    <th>Data Chiusura</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                <tr>
                                    <td>
                                        <!-- The magnifying glass icon is shown whenever if "data_chiusura" is "None" or has been closed -->
                                        {% if current_user.is_admin %}
                                            <button class="transparent-button edit-ticket" data-id="{{ ticket.id }}" data-note="{{ ticket.note }}" data-chiusura="{{ ticket.data_chiusura }}" data-images-url="{{ ticket.image }}" data-utente-segnalato="{{ ticket.utente_segnalato }}" data-id-task="{{ ticket.id_task }}" data-tag="{{ ticket.tag }}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        {% else %}
                                        <button class="transparent-button view-ticket" data-note="{{ ticket.note }}" data-images-url="{{ ticket.image }}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        {% endif %}
                                        
                                    </td>
                                    <td>{{ ticket.id }}</td>
                                    <td>{{ ticket.utente_apertura }}</td>
                                    <td>{{ ticket.utente_segnalato }}</td>
                                    <td>{{ ticket.id_task }}</td>
                                    <td>{{ ticket.note }}</td>
                                    <td>{{ ticket.tag }}</td>
                                    <td>{{ ticket.formatted_data_apertura() }}</td>
                                    <td>{{ ticket.formatted_data_chiusura() }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD ticket modal (only for admin) -->
<div class="modal fade" id="addTicketModal" tabindex="-1" role="dialog" aria-labelledby="addTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTicketModalLabel">Aggiungi ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('tickets_blueprint.tickets') }}" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.utente_segnalato.label }} 
                        {{ form.utente_segnalato(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.id_task.label }}
                        {{ form.id_task(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.note.label }} 
                        {{ form.note(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.tag.label }} 
                        <!-- tagify -->
                        <input id="tags-outside" name="{{ form.tag.name }}" class="tagify--outside" value="" placeholder="scrivi i tag da aggiungere di seguito">

                    </div>
                    <!-- image filed added to be able to upload a photo-->

                    <!-- <div class="form-group">
                        <label for="filee">Carica una foto &#40;.jpg, .jpeg, .png&#41;</label>
                        <input type="file" class="dropzone" id="file" name="file" multiple accept=".png, .jpg, .jpeg">
                    </div> -->

                    <div class="form-group dropzone" id="addTicketForm" class="dropzone">
                        <label for="file">Aggiungi una nuova foto &#40;.jpg, .jpeg, .png&#41;:</label>
                        <!-- <input type="file" class="form-control" id="editFile" name="file" accept=".png, .jpg, .jpeg"> -->
                        <div id="editFile" class="dropzone">Rilascia le tue immagini per caricarle</div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-fill" id="addTicketButton"> Aggiungi ticket</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EDIT TICKET modal (only for admin) -->
<div class="modal fade" id="editTicketModal" tabindex="-1" role="dialog" aria-labelledby="editTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTicketModalLabel">Modifica Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editTicketForm" method="POST" action="{{ url_for('tickets_blueprint.edit_ticket') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="modal-body">
                    <input type="hidden" name="id" id="editTicketId">
                    
                    <div class="form-group">
                        {{ form.utente_segnalato.label }}
                        {{ form.utente_segnalato(class_='form-control', id='form_utente_segnalato') }}
                    </div>

                    <div class="form-group">
                        {{ form.id_task.label }}
                        {{ form.id_task(class_='form-control', id='form_id_task') }}
                    </div>

                    <div class="form-group">
                        <label for="note">Note</label>
                        <textarea class="form-control" id="editNote" name="note" rows="10" required></textarea>
                    </div>

                    <div class="form-group">
                        {{ form.tag.label }} 
                        <!-- {{ form.tag(class_='form-control') }}-->
                        <!-- <input id="tags-outside" name="{{ form.tag.name }}" class="tagify--outside" value="tag1, tag2, tag3, tag4" placeholder="scrivi i tag da aggiungere di seguito"> -->
                        <input id="editTags" name="{{ form.tag.name }}" class="tagify--outside" value="" placeholder="scrivi i tag da aggiungere di seguito">
                    </div>

                    <!-- conditional if image exists or not-->

                    <div class="form-group">
                        {% if form.image.value != [] %}
                            <!-- If there are images, display the label and images -->
                            <label for="ticketImage">Foto:</label>
                            <br>
                            {% for image_url in form.image.value %}
                                <img id="ticketImage" src="{{ image_url }}" alt="Ticket Image" style="width: 100%; max-width: 300px;">
                            {% endfor %}
                        {% else %}
                        <label for="ticketImage"></label>
                        {% endif %}
                    </div>
                                        

                    <div id="ticketImageContainer"></div>

                    <div class="form-group">
                        <label for="file">Aggiungi una nuova foto &#40;.jpg, .jpeg, .png&#41;:</label>
                        <!-- <input type="file" class="form-control" id="editFile" name="file" accept=".png, .jpg, .jpeg"> -->
                        <div id="editFile" class="dropzone">Rilascia le tue immagini per caricarle</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-fill" data-dismiss="modal">Chiudere</button>
                    <button type="submit" class="btn btn-primary btn-fill" id="saveChangesButton">Salva le modifiche</button>
                    <button type="button" class="btn btn-warning btn-fill delete_photo" id="deleteImageButton">Cancellare foto</button>
                    <button type="button" class="btn btn-danger btn-fill" id="closeTicketButton">Chiudere ticket</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- VIEW NOTE modal (only for non-admin and it is authenticated ) -->
<div class="modal fade" id="viewNoteModal" tabindex="-1" role="dialog" aria-labelledby="viewNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewNoteModalLabel">Visualizza note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="viewNote">Note</label>
                    <textarea class="form-control" id="viewNote" rows="5" readonly></textarea>
                        <label for="ticketImage">Foto:</label>
                        <br>
                        {% for ticket in tickets %}
                        <img id="ticketsImage" src="{{ ticket.formatted_image }}" alt="Ticket image" style="width: 100%; max-width: 300px; display: none;">
                        {% endfor %}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-fill" data-dismiss="modal">Chiudere</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRM CLOSE TICKET modal (only for admin) -->
<div class="modal fade" id="confirmCloseTicketModal" tabindex="-1" role="dialog" aria-labelledby="confirmCloseTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCloseTicketModalLabel">Conferma chiusura ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler chiudere questo ticket? Non potrai modificarlo in seguito.</p>
                <input type="hidden" id="confirmCloseTicketId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-success btn-fill" id="confirmCloseTicketButton">Confermare</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

<script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script>

    // using DataTables
    $(document).ready(function () {
        $('#ticketsTable').DataTable({
            searching: true,
            responsive: true,
        columnDefs: [
            { 
                orderable: false, 
                targets: 0 // Disable ordering for the first column
            }
        ]
        });
    });

    document.addEventListener('DOMContentLoaded', function () {

        const deletePhotoButton = document.querySelectorAll('.delete_photo');

        // edit ticket button
        const editTicketButton = document.querySelectorAll('.edit-ticket');
        editTicketButton.forEach(button => {
            button.addEventListener('click', function () {
                const ticketId = this.dataset.id;
                const note = this.dataset.note;
                const chiusura = this.getAttribute('data-chiusura') !== 'None';
                const imageUrl = this.getAttribute('data-images-url');
                const images = JSON.parse(this.dataset.imagesUrl.replace(/'/g, '"'));
                const utenteSegnalato = this.dataset.utenteSegnalato;
                const idTask = this.dataset.idTask;
                const tag = this.dataset.tag;
    
                document.getElementById('editTicketId').value = ticketId;
                document.getElementById('editNote').value = note;
                document.getElementById('form_utente_segnalato').value = utenteSegnalato;
                document.getElementById('form_id_task').value = idTask;
                document.getElementById('tags-outside').value = tag;
    
                // image mapping
                const ticketImageContainer = document.getElementById('ticketImageContainer');
                ticketImageContainer.innerHTML = '';
                if (images && images.length > 0) {
                    images.forEach(imageUrl => {
                        const imgElement = document.createElement('img');
                        imgElement.src = imageUrl;
                        imgElement.style.display = 'block';
                        imgElement.alt = 'Ticket Image';
                        imgElement.style.width = '100%';
                        imgElement.style.maxWidth = '300px';
                        imgElement.style.marginBottom = '10px';
                        ticketImageContainer.appendChild(imgElement);
                    });
                    ticketImageContainer.style.display = 'block';
                } else {
                    ticketImageContainer.style.display = 'none';
                }
    
                // enable or disable ticket status elements'
                const editUtenteSegnalatoElement = document.getElementById('form_utente_segnalato');
                const editIdTaskElement = document.getElementById('form_id_task');
                const editNoteElement = document.getElementById('editNote');
                const editTagsElement = document.getElementById('tags-outside');
                
                const saveChangesButton = document.getElementById('saveChangesButton');
                const closeTicketButton = document.getElementById('closeTicketButton');
                const editFileInput = document.getElementById('editFile');
                const deleteImageButton = document.getElementById('deleteImageButton');
    
                if (chiusura) {
                    editUtenteSegnalatoElement.disabled = true; // unenable textarea
                    editIdTaskElement.disabled = true; // unenable textarea
                    editNoteElement.disabled = true; // unenable textarea
                    editTagsElement.disabled = true; // unenable textarea

                    saveChangesButton.disabled = true; // show content in textarea
                    closeTicketButton.disabled = true;
                    editFileInput.disabled = true;
                    deleteImageButton.disabled = true;
                } else {
                    editUtenteSegnalatoElement.disabled = false; // unenable textarea
                    editIdTaskElement.disabled = false; // unenable textarea
                    editNoteElement.disabled = false; // enable textarea
                    editTagsElement.disabled = false; // unenable textarea

                    saveChangesButton.disabled = false; // show content in textarea
                    closeTicketButton.disabled = false;
                    editFileInput.disabled = false;
                    deleteImageButton.disabled = false;
                }
    
                $('#editTicketModal').modal('show');
            });
        });

        // delete photo button
        const deleteImageButton = document.getElementById('deleteImageButton');
        deleteImageButton.addEventListener('click', function () {
        const ticketId = document.getElementById('editTicketId').value;
        if (confirm('Sei sicuro di voler eliminare questa foto?')) {
            fetch(`/delete_photo/${ticketId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      document.getElementById('ticketImage').style.display = 'none';
                      alert('Image was deleted successfully.');
                  } else {
                      alert(data.message || 'Error, the photo was not deleted.');
                  }
              });
        }
    });
    
        // view ticket button for non-admin users
        const viewNoteButton = document.querySelectorAll('.view-ticket');
        viewNoteButton.forEach(button => {
            button.addEventListener('click', function () {
                const note = this.getAttribute('data-note');

                const viewNoteElement = document.getElementById('viewNote');
                viewNoteElement.value = note;

                const imageUrl = this.getAttribute('data-images-url');
    
                const ticketImageElement = document.getElementById('ticketsImage');
                if (imageUrl) {
                    ticketImageElement.src = imageUrl;
                    ticketImageElement.style.display = 'block';
                } else {
                    ticketImageElement.style.display = 'none';
                }
    
                $('#viewNoteModal').modal('show');
            });
        });

        // close ticket button
        document.getElementById('closeTicketButton').addEventListener('click', function () {
            const ticketId = document.getElementById('editTicketId').value;
            document.getElementById('confirmCloseTicketId').value = ticketId;
            $('#editTicketModal').modal('hide');
            $('#confirmCloseTicketModal').modal('show');
        });

        // confirm close ticket button
        document.getElementById('confirmCloseTicketButton').addEventListener('click', function () {
            const ticketId = document.getElementById('confirmCloseTicketId').value;
            fetch('{{ url_for("tickets_blueprint.close_ticket") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: ticketId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            });
        });

        var input = document.querySelector('input[name=tags-outside]')


        // tags with tagify 
        var input = document.querySelector('#tags-outside');
        new Tagify(document.querySelector('#editTags'));
        var tagify = new Tagify(input, {
            whitelist: ['NO_COMPLIANT_TECNICO', 'NO_COMPLIANT_NO_CHECK_VOCE', 'NO_COMPLIANT_NO_CHECK_DATI', 'NO_COMPLIANT_ERR_APERTURA', 'NO_COMPLIANT_NO_MITIGATION', 'NO_COMPLIANT_NO_CHECK_TASK', 'NO_COMPLIANT_ALTRO', 'NO_COMPLIANT_RAPPORTO_CLIENTE', 'NO_COMPLIANT_ERR_AUBAY', 'NO_COMPLIANT_NO_CARING', 'NO_COMPLIANT_NO_ACCOUNTABILITY', 'OK_COMPLIANT', 'COMPLIANT'],
            dropdown: {
                enabled: 0, // always opens dropdown when input gets focus
                maxItems: 15, // maximum number of allowed tags
                closeOnSelect: false, // keep the dropdown open after selecting a suggestion
                userInput: true, // allow manually typing/pasting/editing tags (tags may only be added from the whitelist)
                autoComplete: true // tries to suggest the input's value while typing (match from whitelist) by adding the rest of term as grayed-out text
            }
        });

        // handle form submission to ensure tagify data is updated and formatted
        document.querySelector('form').addEventListener('submit', function (e) {
            // get the tag values ​​and assign them to the original form field
            var tagValues = tagify.value.map(tag => tag.value).join(', ');
            document.querySelector('input[name={{ form.tag.name }}]').value = tagValues;
        });

        // Dropzone configuration
        var myDropzone = new Dropzone("#editFile", {
            url: "{{ url_for('tickets_blueprint.edit_ticket') }}",
            paramName: "file",
            maxFilesize: 5,
            acceptedFiles: ".png,.jpg,.jpeg",
            filesizeBase: 1000,
            dictDefaultMessage: "Rilascia le tue immagini per caricarle",
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 10,
            init: function() {
                const myDropzone = this;
                document.getElementById('saveChangesButton').addEventListener('click', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    if (myDropzone.getQueuedFiles().length > 0) {
                        myDropzone.processQueue();
                    } else {
                        document.getElementById('editTicketForm').submit();
                    }
                });
                this.on("successmultiple", function(files, response) {
                    document.getElementById('editTicketForm').submit();
                });
            }
        });

    });
</script>
{% endblock %}
